.list {
  list-style: none;
}

.social-list_item > .link {
  color: #fff;
  text-decoration: none;
}

/* peculiarities */

.peculiarities {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.peculiarities-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

.peculiarities-block {
  width: 100%;
  height: 100%;
  background-color: #80808030;
  padding: 20px;
}

.peculiarities-img {
  width: 100%;
  height: 140px;
}

@media (max-width: 768px) {
  .peculiarities {
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
  }

  .plan .item .image .peculiarities-img {
    width: 50%;
  }
  .block-peculiarities {
    gap: 0;
  }
  .peculiarities-item {
    flex-direction: column;
    margin: 25px 0 25px 0;
  }
}

@media (max-width: 991.99px) {
  .peculiarities-img {
    height: 110px;
  }
}

/* /peculiarities */

/* APPLICATION */

.application {
  margin: 30px 0 0;
  padding: 130px 0;
  position: relative;
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(255, 0, 0, 0.207),
      rgba(44, 1, 1, 0.194)
    ),
    url(./Document_files/car-bg.jpg) no-repeat center;

  background-position: center top;
  background-size: cover;
  text-align: center;
}

.application h3 {
  font-size: 35px;
  font-weight: bold;
  line-height: 45px;
  color: #fff;
}

.application-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.application-mob-title {
  display: none;
}

.application-title {
  max-width: 750px;
}

@media (max-width: 992px) {
  .application {
    padding: 90px 0;
  }

  .application-mob-title {
    display: block;
    margin-bottom: 40px;
  }

  .application-title {
    display: none;
  }

  .application-block {
    flex-direction: column;
  }
}

/* Form */

.my_form {
  background-color: white;
  padding: 45px;
  position: relative;
  text-align: initial;
}

/* / Form */

/* Info block */

.info {
  /* margin: 30px 0 0; */
  padding: 69px 15px 30px 80px;
  position: relative;
  width: 100%;
  /* background-image: linear-gradient(180deg, #fff, #535b6bba, #495365); */
  background-color: #495365e3;
}

.info-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.info-block h2 {
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.contact-info h2 {
  margin-bottom: 25px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 25px;
  margin-bottom: 40px;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 25px;
}

.contact-item .num {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.contact-item p {
  color: white;
  font-weight: 400;
  font-size: 18px;
}

.social-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 25px;
}

.social-list_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.social-list_link p {
  font-size: 18px;
}

.map {
  width: 1120px;
  height: 550px;
}

@media (max-width: 991px) {
  .info {
    padding: 0 0 20px 0;
    /* background-image: linear-gradient(180deg, #e5e0e0, #535b6bba, #495365); */
  }

  .info-block {
    flex-direction: column;
    gap: 50px;
  }

  .contact-info {
    width: 100%;
    padding-left: 60px;
  }

  .map {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .contact-info {
    width: 90%;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
  }
}
