.list {
  list-style: none;
}

.social-list_item > .link {
  color: #fff;
  text-decoration: none;
}

.block-peculiarities {
  display: flex;
  flex-direction: column;
  /* gap: 80px; */
}

.peculiarities-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 768px) {
  .plan .item .image .peculiarities-img {
    width: 50%;
  }
  .block-peculiarities {
    gap: 0;
  }
  .peculiarities-item {
    flex-direction: column;
  }
}

/* APPLICATION */

.application {
  margin: 30px 0 0;
  padding: 69px 0;
  position: relative;
  width: 100%;
  background: linear-gradient(
      to top,
      rgba(255, 0, 0, 0.207),
      rgba(44, 1, 1, 0.194)
    ),
    url(./Document_files/car-bg.webp) no-repeat center;

  background-position: center top;
  background-size: cover;
  text-align: center;
}

.application h3 {
  font-size: 35px;
  font-weight: bold;
  line-height: 45px;
  color: #fff;
}

.application-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.application-mob-title {
  display: none;
}

.application-title {
  max-width: 750px;
}

@media (max-width: 992px) {
  .application-mob-title {
    display: block;
    margin-bottom: 40px;
  }

  .application-title {
    display: none;
  }

  .application-block {
    flex-direction: column;
  }
}

/* Form */

.my_form {
  background-color: white;
  padding: 45px;
  border-radius: 12px;
  position: relative;
  z-index: 2;
}

/* / Form */

/* Info block */

.info {
  /* margin: 30px 0 0; */
  padding: 69px 0;
  position: relative;
  width: 100%;
  background-color: #495365e0;
}

.info-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.social-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.social-list_link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.social-list_link p {
  font-size: 18px;
}

.map {
  border-radius: 20px;
  width: 600px;
  height: 450px;
}

@media (max-width: 991px) {
  .social-list_title {
    display: none;
  }

  .social-list {
    flex-direction: row;
  }

  .info-block {
    flex-direction: column-reverse;
    gap: 50px;
  }

  .map {
    width: 90%;
  }
}
